@using WebApp.Models;

@model BirthCertificateInputModel

@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"].</h2>
<p>@Html.Raw(@ViewData["Message"])</p>

<form asp-controller="Issuer" asp-action="Index" method="POST">
    <input asp-for="PersonNummer" /><br />
    <input asp-for="BirthDate" /><br />
    <input asp-for="Biometry" /><br />
    <button type="submit">Register new citizen</button>
</form>