@{
    ViewData["Title"] = "";
}

<br>
<h3>About Digital Identity</h3>

<p>
Tenk deg en verden hvor du sømløst identifiserer deg hvorhen du befinner deg på kloden. 
<br><br>
Hver person får tildelt en ID-coin som inneholder personlige og biometriske data som lagres sikkert i blokkjeden. En egen digital, global identifiseringsløsning som kan brukes ved både offentlige og private tjenester.
<br><br>
Legitimer deg i passkontrollen på flyplassen like raskt som du logger deg inn i nettbanken. Signer kjøpekontrakten på feriehuset i Spania like enkelt som å betale for netthandel.
<br><br>
Med Digital Identity blir det enklere for deg og det sparer samfunnet for store kostnader.
</p>