@{
    ViewData["Title"] = "Home Page";
}
<br>

<div>
<h3>Digital Identity</h3>

<h4>Blockchain technology powering the digital identity of the future</h4>
<p>Tenk deg en verden hvor du sømløst identifiserer deg hvorhen du befinner deg på kloden. 
<br>
Hver person får tildelt en ID-coin som inneholder personlige og biometriske data som lagres sikkert i blokkjeden. En egen digital, global identifiseringsløsning som kan brukes ved både offentlige og private tjenester.
<br>
Legitimer deg i passkontrollen på flyplassen like raskt som du logger deg inn i nettbanken. Signer kjøpekontrakten på feriehuset i Spania like enkelt som å betale for netthandel.
<br>
Med Digital Identity blir det enklere for deg og det sparer samfunnet for store kostnader.
</p>
	<br>

<iframe id="ytplayer" type="text/html" allowfullscreen="allowfullscreen"  width="800" height="600"
  src="https://www.youtube.com/embed/ysaQoZbyS60?origin=https://idcoin.howell.no"
  frameborder="0"></iframe>
     
</div>
