@{
    ViewData["Title"] = "Home Page";
}
<br>

<div>
<h3>Blockchain technology powering the digital identity of the future</h3>

<iframe id="ytplayer" type="text/html" allowfullscreen="allowfullscreen"  width="800" height="600"
  src="https://www.youtube.com/embed/ysaQoZbyS60?origin=https://idcoin.howell.no"
  frameborder="0"></iframe>
     
</div>
