@{
    ViewData["Title"] = "Home Page";
}
<br>

<div>
<h2>Digital Identity</h2>

<iframe id="ytplayer" type="text/html" allowfullscreen="allowfullscreen"  width="800" height="600"
  src="https://www.youtube.com/embed/ysaQoZbyS60?origin=https://idcoin.howell.no"
  frameborder="0"></iframe>
     
</div>
