@{
    ViewData["Title"] = "Authenticator";
    var modelView = Model;
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@model AuthenticatorViewModel

<form asp-action="Verify" asp-controller="Authenticator">
	<div class="form-group">
	<label asp-for="@modelView.Keyword">Enter keywords:</label>
		<input asp-for="@modelView.Keyword">
	</div>
	
    <button asp-action="Verify" asp-controller="Authenticator">Verify</button>
 
</form>


