@{
    ViewData["Title"] = "Home Page";
}
<br>
	

	<form asp-action="Success" asp-controller="Authenticator">
	Fake it until you make it. 
	<button asp-action="Success" asp-controller="Authenticator">Done</button>

</form>
<div>


<br/>
<br/>
Please wait.
<br/>
<br/>

     
</div>
