@{
    ViewData["Title"] = "Home Page";
}
<br>
	

	<form asp-action="Success" asp-controller="Authenticator">
	Fake it until you make it. 
	<button asp-action="Success" asp-controller="Authenticator">Done</button>

</form>
<div>


<img src="~/images/scanner.png"  width="50%" height="50%" />

     
</div>
