@{
    ViewData["Title"] = "About";
    var df = TempData["qrData"];

}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>TODO BANK IS TO COME HEREUse this area to provide additional information.</p>

<img src='https://chart.googleapis.com/chart?cht=qr&chl=@df&chs=180x180&choe=UTF-8&chld=L|2' rel='nofollow' alt='qr code'><a href='http://www.qrcode-generator.de' border='0' style='cursor:default'  rel='nofollow'></a>
