@{
    ViewData["Title"] = "Login";
    var df = TempData["qrData"];
    var modelView = Model;
}

<h3>@ViewData["Message"]</h3>
@model BankViewModel

<br>
<h3>Logg inn i banken</h3>
<p></p>

Scan qr-code with your Digital Identity app 

<br>

<img  onload="poll();" src='https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=@modelView.QrValue'>

<br />

Or you can write this code in your app: @modelView.QrValue
<br />
