@{
    ViewData["Title"] = "Login";
    var df = TempData["qrData"];
    var modelView = Model;
}

<h3>@ViewData["Message"]</h3>
@model BankViewModel

<h3>Logg inn i banken</h3>

<p>Scan qr-koden for å logge inn med din Digital Identity:</p>


<img onload="poll();" src='https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=@modelView.QrValue'>

<br />
<br />
<p>Eller bruk disse kodeordene: <span style="font-size: 140%; font-family: monospace;">@modelView.QrValue</span></p>
