@{
    ViewData["Title"] = "About";
    var df = TempData["qrData"];

}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>TODO BANK IS TO COME HEREUse this area to provide additional information.</p>

Scan qr-koden med appen<br />
<img src='https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=@df'>

Eller skriv inn denne koden i appen: <b>@df</b>

